@charset "UTF-8";

/* mobile first */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: gray;
    height: 100px;   
}

header > h1 {
    text-align: center;
}

nav {
    padding: 25px;
    
    
}

nav a {
    background-color: rgb(80, 79, 79);
    text-decoration: none;
    color: white;
    padding: 10px;
    
}

nav > a:hover {
    background-color: rgba(173, 216, 230, 0.448);
}

body {
    height: 100vh;
    background-color: lightgray;

}

/*main {
    background-color: white;
    border-radius: 10px;
    max-width: 768px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    text-align: justify;
    text-indent: 30px;
    
}*/

main {
    background-color: white;
    max-width: 768px;
    padding: 10px;
    margin: auto;
    border-radius: 12px;
    text-indent: 25px;
    text-align: justify;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.175);
}


